@using WP.WEB.Models.ViewModels

@model WritingWithCommentsVM

@{ ViewBag.Title = "Writing - {}"; }

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            @Html.ActionLink("Литературные произведения", "Index", "Composition", new { @class = "btn btn-default" })
        </li>
        <li>
            @Html.ActionLink(Model.Title, "Id", new { Controller = "Composition", Id = Model.Id })
        </li>
    </ol>
</nav>

<div class="row">
    <div class="row">
        <div class="col-md-2 h4">Название: </div>
        <div class="col-md-10 h4">@Model.Title</div>
    </div>
    <div class="row">
        <div class="col-md-2 h4">Жанр: </div>
        <div class="col-md-10 h4">@Model.Genre</div>
    </div>
    <div class="row">
        <div class="col-md-2 h4">Автор: </div>
        <div class="col-md-10 h4">@Model.UserId</div>
    </div>
    <div class="row">
        <div class="col-md-2 h4">Рейтинг: </div>
        <div class="col-md-10 h4">@Model.Rating</div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Читать", "Read",
                 new { Controller = "Home", Id = Model.Id },
                 new { @class = "btn btn-default" })
    </div>
    <div class="col-md-3">
        <select>
            <option>10</option>
            <option>9</option>
            <option>8</option>
            <option>7</option>
            <option>6</option>
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
        </select>
        @Html.ActionLink("Оценить", "Rate",
                 new { Controller = "Home", Id = Model.Id },
                 new { @class = "btn btn-default" })

    </div>
</div>

<hr />

<h3>Комментарии</h3>

<div class="row">
    <div class="col-md-4">
        <textarea cols="40" rows="4" maxlength="50" placeholder="Напишите комментарий"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Отправить", "SendComment",
                 new { Controller = "Home", Id = Model.Id },
                 new { @class = "btn btn-default" })

    </div>
</div>

<div>
    @if (Model.Comments.ToList().Count() == 0)
    {
<hr />
                <div class="row text-muted">Нет комментариев</div>}
    @foreach (var comment in Model.Comments)
    {
<hr />
                <div class="row">
                    <div class="col-md-10">
                        <p>@comment.UserName: </p>
                        <p>@comment.Comment</p>
                    </div>
                </div>}
</div>
