@using WP.WEB.Models.ViewModels
@using WP.WEB.Helpers


@model WritingsVM
@{ ViewBag.Title = "Произведения"; }

<div>
    <table class="table table-striped">
        <tr class="info">
            <th>Название</th>
            <th>Жанр</th>
            <th>Автор</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Writings)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.GenreName</td>
                <td>@item.UserName</td>
                <td>
                    @Html.ActionLink("Подробнее", "Id",
                   new { Controller = "Home", Id = item.Id },
                   new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </table>
    <br />
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", "Home", new { page = x }))
    </div>
</div>